/* Cores principais */
:root {
    --primary-color: #1e3a8a; /* Azul escuro */
    --secondary-color: #f97316; /* Laranja */
    --bg-color: #f3f4f6; /* Cinza claro */
    --text-color: #333;
    --text-colorlista: #ffffff; 
    --cta-color: #f97316; /* Laranja */
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
}

.nav-links {
  list-style-type: none; /* Remove os marcadores */
  padding: 0; /* Remove o espaçamento interno */
  margin: 0; /* Remove a margem */
}

.nav-links li {
  color:  var(--text-colorlista); /* Cor do texto (branco) */
  text-align: center; /* Centraliza o texto */
  font-weight: bold; /* Torna o texto em negrito */
}

.nav-links a {
  color: var(--text-colorlista); /* Garante que os links tenham cor branca */
  text-decoration: none; /* Remove o sublinhado dos links */
}

.nav-links a:link,
.nav-links a:visited,
.nav-links a:hover,
.nav-links a:active {
  color: var(--text-colorlista);
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: var(--cta-color);
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    color: #ffffff;
    font-size: 1.2em;
}

.cta-button {
    background-color: var(--cta-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #e65c00;
}

/* Sections */
.section-padding {
    padding: 50px 20px;
}

.bg-light {
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card h3 {
    color: var(--primary-color);
}

.service-card:hover {
    transform: translateY(-5px);
}

/* Contact */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2em;
    text-decoration: none;
}

.social-links a:hover {
    color: var(--cta-color);
}
